{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

asdf plugin add terraform
asdf install terraform latest
asdf global terraform latest

asdf plugin add packer
asdf install packer latest
asdf global packer latest
{{ end -}}
