{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -euo pipefail

# Configure iTerm2 to load settings from custom folder
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.config/iterm2"
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
{{ end -}}
