{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
brew bundle install --no-lock --file {{ .chezmoi.sourceDir }}/Brewfile
brew bundle cleanup --no-lock --file {{ .chezmoi.sourceDir }}/Brewfile
{{ end -}}