{{- $id := output "sh" "-c" "system_profiler SPHardwareDataType | awk '/Serial/{print $NF}' | shasum -a 256 | cut -c1-8" | trim -}}
{{- $profiles := (include ".chezmoidata.yaml" | fromYaml).profiles -}}
{{- $profile := dig $id (dict) $profiles -}}
{{- if $profile }}
data:
  git:
    name: {{ dig "git" "name" "" $profile }}
    email: {{ dig "git" "email" "" $profile }}
  brews:
    taps: {{ dig "brews" "taps" list $profile | toJson }}
    formulas: {{ dig "brews" "formulas" list $profile | toJson }}
    casks: {{ dig "brews" "casks" list $profile | toJson }}
    mas: {{ dig "brews" "mas" list $profile | toJson }}
  mise:
{{- $tools := list -}}
{{- $versions := dict -}}
{{- range dig "mise" "tools" list $profile -}}
{{- if contains ":" . -}}
{{- $s := split ":" . -}}
{{- $tools = append $tools $s._0 -}}
{{- $_ := set $versions $s._0 $s._1 -}}
{{- else -}}
{{- $tools = append $tools . -}}
{{- end -}}
{{- end }}
    tools: {{ $tools | toJson }}
    versions:
{{- range $k, $v := $versions }}
      {{ $k }}: "{{ $v }}"
{{- end }}
{{- end }}
