{{- $p := dig .profile (dict) .profiles -}}
# Taps
{{- range dig "brews" "taps" list $p }}
tap "{{ .name }}"{{ if hasKey . "url" }}, "{{ .url }}"{{ end }}
{{- end }}

# CLI
{{- range dig "brews" "formulas" list $p }}
brew "{{ . }}"
{{- end }}

# Apps
{{- range dig "brews" "casks" list $p }}
cask "{{ . }}"
{{- end }}

# Mac App Store
{{- range dig "brews" "mas" list $p }}
mas "{{ .name }}", id: {{ .id }}
{{- end }}
