[user]
    name = {{ .git.name }}
    email = {{ .git.email }}
    signingkey = ~/.ssh/github_{{ .chezmoi.hostname }}.pub

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

# Use SSH for GitHub (auto-converts HTTPS URLs to SSH)
[url "git@github.com:"]
    insteadOf = https://github.com/
