[user]
    name = Borys Borysenko
    email = 3684918+bborysenko@users.noreply.github.com

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[credential "https://github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential
