[user]
    name = Borys Borysenko
    email = 3684918+bborysenko@users.noreply.github.com

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    autoSetupRemote = true

# Use SSH for GitHub (auto-converts HTTPS URLs to SSH)
[url "git@github.com:"]
    insteadOf = https://github.com/
