{{- $p := dig .profile (dict) .profiles -}}
{{- /* orbstack */ -}}
{{- if has "orbstack" (dig "brews" "casks" list $p) }}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
Include ~/.orbstack/ssh/config

{{ end -}}
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_{{ .chezmoi.hostname }}
    AddKeysToAgent yes
    UseKeychain yes

{{- if eq .profile "7d641a58" }}

Host bitbucket.org
    HostName bitbucket.org
    User git
    IdentityFile ~/.ssh/bitbucket_{{ .profile }}
    AddKeysToAgent yes
    UseKeychain yes
{{- end }}
