{{- $p := dig .profile (dict) .profiles -}}
{{- $tools := list -}}
{{- $versions := dict -}}
{{- range dig "mise" "tools" list $p -}}
{{-   if contains ":" . -}}
{{-     $s := split ":" . -}}
{{-     $tools = append $tools $s._0 -}}
{{-     $_ := set $versions $s._0 $s._1 -}}
{{-   else -}}
{{-     $tools = append $tools . -}}
{{-   end -}}
{{- end -}}
[tools]
{{ range $tools }}
{{- $version := index $versions . | default "latest" }}
{{ . }} = "{{ $version }}"
{{- end }}
